.listWrapper {
    display: flex;
}

.contentWrapper {
    width: 50%;
    height: 100%;
    margin: 0px 10px;
}

.catalogImg {
    display: flex;
    width: 100%;
    max-width: 300px;
    height: auto;
    outline: black 2px solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.contentWrapper h3,li {
    text-align: center;
    color: var(--main-text-color);
}

.catalogList {
    list-style-type: none;
    padding: 10px 5px;
}

.catalogList li {
    padding: 5px 0px;
}